$grid-columns:		   12;
$grid-indent:				0px;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  lgx: 1440px,
  xl: 1920px
) !default;

$grid-breakpoints-max: (
  xs: 767px,
  sm: 991px,
  md: 1199px,
  lg: 1439px,
  lgx: 1679px
) !default;		

$container-max-widths: (
  sm: 750px,
  md: 980px,
  lg: 1170px,
  lgx: 1300px,
  xl: 1680px
) !default;


$white: #ffffff;
$black: #232323;
$violet: #4B2DA0;

$text-color: $black;

$font-family-bold:     Ubuntu-Bold, sans-serif;
$font-family-medium:  Ubuntu-Medium, sans-serif;
$font-family: Ubuntu-Regular, sans-serif;
$font-size: 20px;
$font-size-xs: 24px;
$font-size-h1: 72px;
$font-size-h1-mobile: 64px;
$line-height: 1.4;


