

.about {
  position: relative;
  margin-top: 250px;

  &__main {

    @media (min-width: 768px) {
      padding-top: 450px;
    }
  }

  &__side-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 98vh;
  }

  &__side {
    // position: fixed;
    top: 0;
    // z-index: -2;


    @media (min-width: 768px) {
      background-image:
        url('../img/about_bg_3.png'),
        url('../img/about_bg_4.png'),
        url('../img/about_bg_2.png'),
        url('../img/about_bg_1.png'),
        url('../img/about_girl.png'),
        url('../img/about_bg.png');
      background-repeat: no-repeat;
      background-size:
      5% 4%,
      10% 8%,
      45% 37%,
      80% 60%,
      20% 50%,
      50% 80%;
      background-position:
        left 55% bottom 45%,
        left 67% bottom 52%,
        left 50%    top 25%,
        left 52%     top -13%,
        left 38% bottom 0,
        left 50% bottom 20%;
      // padding-bottom: 50px;
      width: 100%;
      height: 100%;
      // padding-top: 250px;
      // padding-left: 50px;
    }

    div {
      display: none;

      @media (min-width: 768px) {
        display: block;
        width: 462px;
        height: 998px;
        background: #4B2DA0;
        // position: absolute;
        position: relative;
        // z-index: -10;
      }
    }
  }

  &__main {
    margin-top: 200px;

    &-item{

      @media (min-width: 768px) {
        margin-bottom: 150px;
      }

      span {
        font-family: $font-family-bold;
        font-size: 72px;

        @media (min-width: 768px) {
          font-weight: bold;
          line-height: 30px;
          color: #4B2DA0;
        }
      }

      &--descr{
        width: 385px;
        height: 104px;
        margin-top: 31px;
        font-family: $font-family-medium;
        font-size: 48px;
      }
  
      &--sign{
        font-family: $font-family;
        font-size: 20px;
      }
    }

    
  }
}


.fixed {
  position: fixed;
  top: 0;
}
.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
