.advantages {
  
  &__title {
    @extend .row;
    max-width: 770px;
    padding-top: 226px;

    @media (max-width:769px) {
      padding-left: 40px;
    }
  
    @media (max-width:361px) {
      padding-left: 40px;
    }
  }

  &__inner {
    @extend .row;
    padding-top: 100px;
  }

  &__item {
    @extend .col-sm-4;

    @media (max-width:769px) {
      display: flex;
      width: 100%;
      
    }
  
    @media (max-width:361px) {
      
    }
  
    
  }
  &__item-imgfirst {
    height: 530px;
    background-image: url('../img/advantages1.svg');
    background-size: 84%;
    background-repeat: no-repeat;
    background-position: 0 -20px;
  }

  &__item-imgsecond {
    display: flex;
    justify-content: flex-end;
    height: 530px;
    background-image: url('../img/advantages2.svg');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 65px 30px;
  }

  &__item-imgthird {
    height: 530px;
    background-image: url('../img/advantages3.svg');
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: -30px -10px;
  }

  &__item-img {
    display: flex;
    height: 500px;
    margin: 0 auto;

    &--first {
    }
    &--second {
      margin-left: 60px;
    }
    &--third {
      margin-left: -30px;
    }
  }

  &__item-title {
    margin-top: -10px;
    margin-left: 130px;
    font-family: $font-family-bold;
    font-size: 36px;
    color: $violet;
    line-height: 1.5;
    
    &--third {
      margin-left: 75px;
    }
  }

  &__item-descr {
    margin-left: 130px;
    padding-top: 20px;
    font-family: $font-family;
    font-size: 20px;
    line-height: 1.7;

    &--third {
      margin-left: 75px;
    }
  }
}