.advantages {
  padding: 0px 20px;
  margin-top: 225px;

  &__title {
    @extend .row;
    padding-left: 20px;
    font-size: 30px;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      width: 90%;
      font-size: 64px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      width: 50%;
    }

  }

  &__inner {
    @extend .row;
    align-content: center;
    flex-direction: column;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &__item {
    padding-bottom: 163px;
  }


  &__item-imgfirst {
    height: 500px;
    background-image: url('../img/advantages1.svg');
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }


  &__item-imgsecond {
    height: 500px;
    background-image: url('../img/advantages2.svg');
    background-position: 0;
    background-size: 90%;
    background-repeat: no-repeat;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      background-size: 75%;
    }
  }

  &__item-imgthird {
    height: 500px;
    background-image: url('../img/advantages3.svg');
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__item-img {
    display: flex;
    height: 500px;
    margin: 0 auto;
  }

  &__item-title {
    padding-bottom: 30px;
    font-family: $font-family-bold;
    font-size: 25px;
    color: $violet;
    line-height: 1.5;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding-bottom: 60px;
      font-size: 36px;
    }
  }

  &__item-descr {
    font-family: $font-family;
    font-size: 14px;
    line-height: 1.7;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      font-size: 20px;
    }
  }
}