.feedback {
  @extend .row;
  margin-top: 150px;

  &__reviews {
    @extend .col-sm-6;
  }

  &__reviews-title {
    margin-bottom: 226px;
    font-family: $font-family-bold;
    font-size: 64px;
  }

  &__item {
    padding-top: 8px;
  }

  &__item:nth-child(2) {
    display: none;
  }

  &__item:nth-child(3) {
    display: none;
  }

  &__item-title {
    font-family: $font-family-bold;
    font-size: 36px;
  }

  &__item-descr {
    font-family: $font-family-bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
  }

  &__item-text {
    max-width: 480px;
    padding-top: 42px;
    font-family: $font-family;
    font-size: 20px;
    line-height: 1.7;
  }

  &__image {
    height: 1000px;
    background-image: url('../img/feedback.svg');
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: 88% 45%;
  }
}
