.feedback {
  &__wrap {
    position: relative;
    padding-top: 252px;
  }

  &__title {
    width: 501px;
    height: 140px;
    margin-bottom: 226px;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 77.49%;
    bottom: 16.98%;
    background-image:
      url('../img/feedback.png');
    background-repeat: no-repeat;
    width: 705px;
    height: 812px;  
  }

  &__reviews {
    margin-right: 242px;
  }

  &__item:nth-child(2) {
    display: none;
  }

  &__item:nth-child(3) {
    display: none;
  }

  &__item-descr {
    font-weight: bold;
  }

  &__item-text {
    width: 485px;
    height: 316px;
  }
}
