.feedback {
  @extend .row;
  display: block;
  padding: 0 20px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    min-height: 900px;
    background-image: url('../img/feedback.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 90% 1%;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    min-height: 1100px;
  }

  &__reviews {  
    margin-bottom: 100px;
    padding: 0 20px;

    
  }

  &__reviews-title {
    padding-bottom: 20px;
    font-family: $font-family-bold;
    font-size: 30px;

    @media (min-width: map-get($grid-breakpoints, sm)) {

    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      font-size: 64px;
    }
  }

  &__reviews-sign {
    display: block;
    font-family: $font-family;
    font-size: 20px;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }

  &__text {

    display: block;
    overflow-x: auto;
    
    // @media (min-width: map-get($grid-breakpoints, sm)) {
      
    //   margin-top: 170px;
    //   overflow-x: scroll;
    // }

    // @media (min-width: map-get($grid-breakpoints, lg)) {
     
    // }
  }

  &__item {
    display: block;
  }

  &__item:nth-child(2) {

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }

  &__item:nth-child(3) {

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }

  &__item-title {
    font-family: $font-family-bold;
    font-size: 30px;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      font-size: 36px;
    }
  }

  &__item-descr {
    font-family: $font-family-bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      font-size: 20px;
    }
  }

  &__item-text {
    max-width: 480px;
    padding-top: 42px;
    font-family: $font-family;
    font-size: 20px;
    line-height: 1.7;
  }
}
