.footer {
  margin-top: 220px;
  background-image: url('../img/orderform.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  
  &__tel {
    @extend .col-sm-5;
  }

  &__tel a{
    text-decoration: none;
    opacity: 0.52;
    font-family: $font-family;
    font-size: $font-size-xs;
  }

  &__adress {
    @extend .col-sm-7;
    opacity: 0.52;
    font-family: $font-family;
    font-size: $font-size-xs;
    
  }
}