.footer {
  
  text-align: center;
  background-image: url('../img/orderform.svg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-x: 40%;
  background-position-y: 100%;

  @media (min-width: map-get($grid-breakpoints, sm)) {
    margin-top: -500px;
    padding-top: 200px;
    padding-bottom: 500px;
    background-size: 150%;
    background-position-x: 37%;
    background-position-y: 21%;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-top: -450px;
    background-size: 160%;
    background-position-y: 25%;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  &__content {
    
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      height: 100px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__tel {
    padding-bottom: 30px;

    // @media (min-width: map-get($grid-breakpoints, lg)) {
    //   padding-bottom: 0;
    // }
  }

  &__tel a{
    text-decoration: none;
    opacity: 0.52;
    font-family: $font-family;
    font-size: $font-size-xs;
  }

  &__adress {
    opacity: 0.52;
    font-family: $font-family;
    font-size: $font-size-xs;
    padding-bottom: 425px;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding: 0 120px;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
      padding: 0 250px;
    }
    
    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding: 0; 
    }
  }
}