.header {
  padding-left: 20px;
  padding-top: 103px;

  &__tel {
    @extend .col-sm-6;
    font-family: $font-family;
    font-size: 18px;
    color: $black; 

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding-left: 20px;
    }
  }

  &__tel a{
    text-decoration: none;
  }

  &__nav {
    @extend .col-sm-6;   
  }

  &__nav-list {
    display: none;
    

    @media (min-width: map-get($grid-breakpoints, sm)) {
      display: none;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: flex;   
    }
    
    list-style-type: none;
  }

  &__nav-item {
    padding-left: 74px;
  }

  &__nav-link {
    text-decoration: none;
    font-family: $font-family;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
  }
}






