.header {
  @extend .row;
  padding-top: 120px;

  @media (max-width:769px) {
    padding-top: 103px;
    margin-left: 44px; 
  }

  @media (max-width:361px) {
    padding-top: 50px;
    margin-left: 20px;
  }

  &__tel a {
    text-decoration: none;

    @media (max-width:769px) {
      color: $white;
    }

    @media (max-width:361px) {
      color: $white;
    }
  }

  &__tel {
    @extend .col-sm-4;  
    padding-left: 130px;
    font-family: $font-family;
    font-size: 18px;
    color: $black;

    @media (max-width:769px) {
      padding-left: 0;
      font-family: $font-family-bold;
      font-size: 24px;
    }

    @media (max-width:361px) {
      padding-left: 0;
      font-family: $font-family-bold;
      font-size: 24px;
    }
  }

  &__nav {
    @extend .col-sm-7;
    

    @media (max-width:769px) {
      display: none;  
    }
  }

  &__nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }

  &__nav-item {
  }

  &__nav-link {
    padding-left: 150px;
    text-decoration: none;
    font-family: $font-family;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
  }

  &__btn-form {
    @extend .col-sm-12;
    
  }



}






