.info {
  padding-top: 50px;

  @media (min-width: 1200px) {
    margin-top: 200px;
    padding-top: 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__side {
    order: 1;
    background-image:
      url('../img/man.svg'),
      url('../img/info_bg_1.svg'),
      url('../img/info_bg_2.svg'),
      url('../img/info_bg_3.svg'),
      url('../img/info_bg_4.svg');
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat;
    background-position: left 40px bottom 0;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      background-image:
        url('../img/man_2.svg'),
        url('../img/info_bg_2.svg'),
        url('../img/info_bg_1.svg'),
        url('../img/info_bg_3.svg'),
        url('../img/info_bg_4.svg');
      background-position:
        left 168px bottom 0,
        left -108px    top 100px,
        left -79px     top 100px,
        left 124px     top 800px,
        left 200px     top 900px;
      order: 0;
      padding-bottom: 85px;
    }

    div {
      width: 225px;
      height: 225px;
      background: #4B2DA0;
      z-index: -1;
      position: relative;

      @media (min-width: 768px) {
        width: 468px;
        height: 1639px;
        margin-left: 65px;
      }
    }
  }

  &__main {
    margin-bottom: 25px;

    @media (min-width: 1200px) {
      padding-top: 300px;
      padding-bottom: 0;
      margin-bottom: 250px;
    }
  }

  &__title {
    font-weight: bold;
    line-height: 81px;
    font-size: 64px;
    color: #232323;
  }

  &__descr-text {
    line-height: 39px;
    font-size: 20px;
    color: #232323;
  }
}
