.info {
  margin-top: 500px;
  margin-bottom: 62px;

  &__image {
    @extend .col-sm-6;
    &--position {
    }
  }

  &__text {
    @extend .col-sm-6;
    padding-left: 130px;
    padding-top: 350px;
    max-width: 550px;
  }

  &__title {
    
  }

  &__descr {
    @extend .col-sm-10;
    padding-top: 25px;  
  }
}