.info {
  padding-left: 20px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-top: 300px;
  }

  &__image {
    display: none;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: flex;
      width: 50%;
      height: 1560px;
      background-image: url('../img/info.svg');  
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &__text {
    @extend .row;
    display: none;
    
    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: flex;
      width: 50%;
      align-content: flex-start;
    }
  }

  &__title {
    padding-top: 150px;
  }

  &__descr {
    padding-top: 72px; 
    font-family: $font-family;
    font-size: $font-size; 
    line-height: 1.9;
  }

  &__text-mobile {
    @extend .row;
    padding-top: 50px;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding-top: 144px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
    

    &--title {
      font-family: $font-family;
      font-size: 30px;

      @media (min-width: map-get($grid-breakpoints, sm)) {
        width: 80%;
        font-size: $font-size-h1-mobile;
      }
      
      @media (min-width: map-get($grid-breakpoints, lg)) {
        font-size: $font-size-h1-mobile;
      }
    }

    &--descr {
      width: 90%;
      padding-top: 68px;
      font-size: 18px;
      line-height: 1.8;

      @media (min-width: map-get($grid-breakpoints, sm)) {
        font-size: $font-size-xs;
        
      }
    }
  }

  &__image-mobile {
    width: 100%;
    height: 651px;
    margin-top: 50px;
    background-image: url('../img/info_mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: map-get($grid-breakpoints, sm)) {
     
      margin-top: 90px;
      margin-left: 158px;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
      height: 910px;
    }


    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }
}

