.orderform {
  

  &__title {
    @extend .col-sm-7;
    margin-top: 200px;
    margin-bottom: 143px;
    font-family: $font-family-bold;
    font-size: $font-size-h1;
  }

  &__form {
    @extend .col-sm-12;
    height: 546px;
    align-content: space-between;
    padding-top: 60px;
    margin-bottom: 110px;
  }

  &__form-input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: $black;
    opacity: 0.5;
    font-family: $font-family;
    font-size: 36px;
  }

  &__form-input:nth-child(1){
    @extend .col-sm-5;
    margin-right: 127px;
  }

  &__form-input:nth-child(2){
    @extend .col-sm-5;  
  }

  &__form-input:nth-child(3){
    @extend .col-sm-5;
    margin-top: 147px;
    padding-top: 30px;
  }

  &__form-input:nth-child(4){
    @extend .col-sm-11;
    margin-top: 147px;
    padding-top: 50px;
  }

  &__button {
    @extend .col-sm-12;
    margin-top: 20px;
  }

  &__button-button {
    @extend .col-sm-4;
    height: 128px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: $font-family-bold;
    font-weight: 700;
    font-size: 24px;
  }

  &__button-text {
    @extend .col-sm-12;
    margin-top: 59px;
    margin-bottom: 614px;
    margin-left: 10px;
    font-family: $font-family;
    font-size: 18px;

    &--condition {
      @extend .col-sm-3;
    }
  }

  &__button-textlink {
    text-decoration: none;
    color: #6A48DC;
  }
}
