.promo {
  position: relative;
  padding: 0 20px;
  height: calc(100vh - 103px);

  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: calc(100vh - 103px);
  }

  @media (min-width: map-get($grid-breakpoints, lgx)) {
    height: calc(100vh - 103px);
  }

  &__inner-header {
   
  }

  &__header {
    width: 70%;
    padding-top: 100px;
    font-family: $font-family-bold;
    font-size: 30px;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding-top: 200px;
      padding-left: 20px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding-top: 200px;
      font-size: $font-size-h1-mobile;
    }

    @media (min-width: map-get($grid-breakpoints, lgx)) {
      padding-top: 200px;
      font-size: $font-size-h1;
    }
  }

  &__inner-descr {

  }

  &__descr {
    display: none;
    opacity: 0.52;
    font-family: $font-family;
    font-size: 18px;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: block;
    }
   
  }

  &__descr-mobil {
    padding-top: 20px;
    opacity: 0.52;
    font-family: $font-family;
    font-size: 18px;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding-left: 20px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
   
  }

  &__btn {
    display: none;
  

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: block;
      margin-top: 80px;
    }
  }

  &__btn-form {
    height: 128px;
    width: 600px;
    text-decoration: none;
    background-color: $white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border: none;
    font-family: $font-family-bold;
    font-weight: 700;
    font-size: 24px;
  }

  &__mobilbtn { 
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }

  &__mobilbtn-text {
    width: 100%;
    height: 100px;
    border: none;
    background-color: $violet;
    font-family: $font-family-bold;
    font-size: 18px;
    color: $white;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      height: 140px;
    }
  } 
}