.promo {
  width: 100%;
  padding-top: 359px;

  @media (max-width:769px) {
    padding-top: 387px;  
  }

  @media (max-width:361px) {
    padding-top: 150px;
  }

  &__inner-header {
    @extend .row;
  }

  &__header {
    @extend .col-sm-6;
    padding-left: 5%;
    padding-top: 0;
    font-family: $font-family-bold;
    font-size: $font-size-h1;

    @media (max-width:769px) {
      min-width: 70%;
      padding-top: 387px;
      padding-left: 40px;
      font-family: $font-family;
      font-size: $font-size-h1-mobile;
    }

    @media (max-width:361px) {
      width: 60%;
      padding-left: 20px;
      padding-top: 0;
      font-family: $font-family;
      font-size: 30px;
    }
  }

  &__inner-descr {
    @extend .row;
  }

  &__descr {
    padding-left: 5%;
    opacity: 0.52;
    font-family: $font-family;
    font-size: $font-size-xs;

    @media (max-width:769px) {
      display: none;
    }

    @media (max-width:361px) {
      display: none;
    }
  }

  &__descr-mobil {
    display: none;

    @media (max-width:769px) {
      display: flex;
      width: 60%;
      padding-top: 100px;
      padding-left: 40px;
      opacity: 0.52;
      font-size: 24px;
    }

    @media (max-width:361px) {
      display: flex;
      width: 60%;
      padding-bottom: 50px;
      padding-left: 20px;
      padding-top: 40px;
      opacity: 0.52;
      font-size: 12px;
    }
  }

  &__btn {
    @extend .col-sm-12;
    margin-top: 80px;
    margin-bottom: 321px;
    padding-left: 5%;

    @media (max-width:769px) {
      display: none;
    }

    @media (max-width:361px) {
      display: none;
    }
  }

  &__btn-form {
    padding: 48px 175px 49px 193px;
    text-decoration: none;
    background-color: $white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border: none;
    font-family: $font-family-bold;
    font-weight: 700;
    font-size: 24px;
  }

  &__mobilbtn { 
    display: none;
    

    @media (max-width:769px) {
      display: flex;
      
      height: 140px;
      margin-top: 162px;
    } 
    
    @media (max-width:361px) {
   
      height: 70px;
      margin-top: 60px;
    }
  }

  &__mobilbtn-text {
    width: 100%;
    border: none;
    background-color: $violet;
    font-family: $font-family-bold;
    color: $white;

    @media (max-width:769px) {
      font-size: 24px;
    }

    @media (max-width:361px) {
      font-size: 18px;
    }
  }
  
}