.promo {
  background-image: url(../img/promo-img.svg);
  background-repeat: no-repeat;
  background-position: right -100px center;
  padding-top: 300px;

  @media (min-width: 1200px) {
     background-position: right 100px center;
  }

  @media (min-width: 1400px) {
     background-position: right 200px center;
  }

  &__header {
    font-weight: bold;
    line-height: 81px;
    font-size: 64px;
    margin-bottom: 70px;

    @media (min-width: $screen-sm) {
      font-size: $font-size-h1;
    }
  }

  &__descr {
    line-height: 36px;
    font-size: 24px;
    color: rgba(35, 35, 35, 0.5);
    margin-bottom: 80px;
    span {

      @media (min-width: 768px) {
        font-weight: bold;
      }
    }
  }

  &__btn-form {
    font-size: 24px;
    color: #FFFFFF;
    background: #6A48DC;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    width: 100%;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      background: #4B2DA0;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      color: #fff;
    }

    &:active {
      background: #4B2DA0;
      color: #fff;
    }

    &--mob {

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--desc {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }

    @media (min-width: 768px) {
      background: #FFFFFF;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
      color: $black;
      transition: all 0.3s;
      font-size: 24px;
      width: auto;
      padding: 0 200px;

      &:hover,
      &:active {
        color: #fff;
      }
    }
  }
}
