.reasons {
  overflow: hidden;

  @media (min-width: 768px) {
    margin-top: -440px;
  }

  &__inner-item{
    margin-top: 140px;
  }

  &__title{
    width: 523px;
    margin: 0;
    padding: 0;
    font-family: $font-family-bold;
  }

  &__descr{
    margin-top: 70px;
    font-family: $font-family;
    font-size: 20px;
  }

  &__inner-list {
    margin-top: 200px;
  }

  &__item:first-child {

    @media (min-width: 768px) {
      background-image: url('../img/reasons__item_1.svg');
      background-position:
        left 0     top 0;
      width: 917px;
      height: 275px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 50%;
    }
  }

  &__item {
    max-width: 100%;

    p {
      padding-top: 75px;
      padding-left: 122px;
      color: $white;
      font-family: $font-family;
      font-size: 36px;
    }
  }


  &__item:nth-child(2) {
    margin-top: 125px;

    @media (min-width: 768px) {
      background-image: url('../img/reasons__item_2.svg');
      background-position:
        left 0     top 0;
      width: 917px;
      height: 275px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__item:nth-child(3) {
    margin-top: 100px;

    @media (min-width: 768px) {
      background-image: url('../img/reasons__item_3.svg');
      background-position:
        left 0     top 0;
      width: 917px;
      height: 275px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 50%;
    }
  }
  &__item:nth-child(4) {

    @media (min-width: 768px) {
      background-image: url('../img/reasons__item_4.svg');
      background-position:
        left 0     top 0;
      width: 917px;
      height: 275px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
