.tariff {
  margin-top: 240px;
  padding: 0 20px;

  &__main {

   
  }

  &__main-title {
    font-family: $font-family-bold;
    font-size: 30px;
  }

  &__main-descr {
    padding-top: 20px;
    padding-bottom: 93px;
    opacity: 0.52;
    font-family: $font-family;
    font-size: 14px;

  }

  &__table {
 

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__item:not(:last-child){

  }

  &__item:nth-child(1) {
    width: 100%;
    min-height: 600px;
    background-image: url(../img/tariff1.svg);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: 70%;
    //background-position-y: -10%;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      
      background-size: 100%;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      
    }
  }

  &__item:nth-child(2) { 
    width: 100%; 
    min-height: 600px;
    background-image: url(../img/tariff2.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 50%;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      
    }
  }

  &__item:nth-child(3) {
    width: 100%;
    min-height: 600px;
    background-image: url(../img/tariff3.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-x: 15%;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      
    }
  }

  &__item-title {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 30px;
    font-family: $font-family-bold;
    font-size: 20px;
    color: $white; 
  }

  &__item-title span {
    font-family: $font-family-bold;
    font-size: 40px;
    color: $black;
  }

  &__item-content {
    padding-left: 30%;
  }

  &__item-descr {

    &--text {
      font-family: $font-family;
      font-size: 12px;
      color: $white;
    }

    &--sign {
      padding-bottom: 15px;
      font-family: $font-family-bold;
      font-size: 14px;
      font-weight: 700;
      color: $white;
      line-height: 1.1;
    }
  }

  &__item-addition {
  }
}